<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry">

            <div class="entry-img">
              <img src="assets/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a >4 Trends in Higher Education that Affect Students Like You</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a >Rashi Khanna</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a ><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a >12 Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Some changes take place at high levels or behind the scenes and don’t appear to affect students. But there are several trends occurring now that do have a direct impact on the college student experience. Here are some of them.
              </p>
              <div class="read-more">
                <a href="">Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->

          <article class="entry">

            <div class="entry-img">
              <img src="assets/blog-2.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a >Starting a Career in Higher Ed Administration: Do Your Research</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a >Richa Harry</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a ><time datetime="2021-10-01">Oct 10, 2021</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a >10 Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Someone who has worked their way up to being a faculty member or researcher in higher education may become interested in moving into administrative roles. How does one get started? Jerry Halverson*, PhD, Senior Core Faculty at Capella University, explains what’s involved. First of all, what exactly are the administrative roles offered in higher ed? You may already recognize several of these titles.
              </p>
              <div class="read-more">
                <a >Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->

          <article class="entry">

            <div class="entry-img">
              <img src="assets/blog-3.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a >5 Ways to be Productive, Not Just Busy</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a >Rajat Sharma</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a ><time datetime="2021-12-23">Dec 23, 2021</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a >9 Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Sometimes (or often) life can feel incredibly busy, and yet it seems like nothing is actually being accomplished. Capella University MEd students Michelle Ferre*, host of the popular YouTube channel Pocketful of Primary, and Bridget Spackman*, host the popular YouTube channel The Lettered Classroom, are both teachers who have devised some techniques to improve productivity and minimize wasted time and energy.Actual FlexPath students compensated for appearing in Capella promotional materials
              </p>
              <div class="read-more">
                <a>Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->

          <article class="entry">

            <div class="entry-img">
              <img src="assets/blog-4.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a >What Is Training and Performance Improvement?</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a >Mohan Bhatai</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a ><time datetime="2022-01-12">Jan 12, 2022</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a >12 Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Training and performance improvement (T&PI) is a specialty area, usually housed within an organization’s human resource development department, dedicated to accelerating skill development and advancing overall employee productivity.The work focus of T&PI personnel is understanding organizational goals, creating and implementing interventions needed for systemic change, including training programs, and evaluating successes and continuing challenges. Keith Johansen, PhD, faculty member in Capella University’s School of Public Service and Education, details the importance of training and performance improvement and career options in this specialty.
              </p>
              <div class="read-more">
                <a >Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->


          <div class = "container">
          <div class="reply-form">
            <h2>Leave a Reply</h2>
            <p>Your email address will not be published. Required fields are marked * </p>
              <form name="form" #f="ngForm" (ngSubmit) = "responseformsubmit()">
                  <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control"  placeholder="Your Name*" required [(ngModel)] ="form.name" #name="ngModel">
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email"  placeholder="Your Email*" required [(ngModel)] ="form.emailId" #emailId = "ngModel">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="website"  placeholder="Your Website*" required [(ngModel)] ="form.website" #website = "ngModel">
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="comment" rows="5" placeholder="Your Comment*" required [(ngModel)] ="form.comment" #comment = "ngModel"></textarea><br>
                </div>
    
                <div class="text-center">
                <button class="btn btn-primary btn-block">
                  Post Comment
                </button><br><br><br>
                </div>
              </form>
            </div>
            </div>
    
          

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

          <div class="sidebar">

            <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
              <form action="">
                <input type="text">
                <button type="submit"><i ><mat-icon>search</mat-icon></i></button>
              </form>
            </div><!-- End sidebar search formn-->

            <h3 class="sidebar-title">Categories</h3>
            <div class="sidebar-item categories">
              <ul>
                <li><a >General <span>(25)</span></a></li>
                <li><a >Lifestyle <span>(12)</span></a></li>
                <li><a >Travel <span>(5)</span></a></li>
                <li><a >Design <span>(22)</span></a></li>
                <li><a >Creative <span>(8)</span></a></li>
                <li><a >Education <span>(14)</span></a></li>
              </ul>
            </div><!-- End sidebar categories-->

            <h3 class="sidebar-title">Recent Posts</h3>
            <div class="sidebar-item recent-posts">
              <div class="post-item clearfix">
                <img src="assets/blog-recent-1.jpg" alt="">
                <h4><a >5 Ways Capella Supports Educators</a></h4>
                <time datetime="2021-09-22">Sept 22, 2021</time>
              </div>

              <div class="post-item clearfix">
                <img src="assets/blog-recent-2.jpg" alt="">
                <h4><a >An Educators Guide to Education Conferences</a></h4>
                <time datetime="2019-08-15">Aug 15, 2019</time>
              </div>

              <div class="post-item clearfix">
                <img src="assets/blog-recent-3.jpg" alt="">
                <h4><a >What Can You Do With an EdD?</a></h4>
                <time datetime="2018-06-17">Jun 17, 2018</time>
              </div>

              <div class="post-item clearfix">
                <img src="assets/blog-recent-4.jpg" alt="">
                <h4><a >Is a Career in Adult Ed Right for You?</a></h4>
                <time datetime="2015-06-12">Jun 12, 2015</time>
              </div>

              <div class="post-item clearfix">
                <img src="assets/blog-recent-5.jpg" alt="">
                <h4><a >Teacher and YouTuber Finds Necessary Flexibility with FlexPath</a></h4>
                <time datetime="2013-11-13">Nov 13, 2013</time>
              </div>

            </div><!-- End sidebar recent posts-->

            <h3 class="sidebar-title">Tags</h3>
            <div class="sidebar-item tags">
              <ul>
                <li><a >App</a></li>
                <li><a >IT</a></li>
                <li><a >Business</a></li>
                <li><a >Mac</a></li>
                <li><a >Design</a></li>
                <li><a >Office</a></li>
                <li><a >Creative</a></li>
                <li><a >Studio</a></li>
                <li><a >Smart</a></li>
                <li><a >Tips</a></li>
                <li><a >Marketing</a></li>
              </ul>
            </div><!-- End sidebar tags-->

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Section -->

